ol.bibliography {
    list-style: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

ol.bibliography pre{
    white-space: pre-wrap;  
    word-wrap: break-word; 
    width: 100%;
    overflow-x: auto;
}

 button.pub-type {
    width: 9em;
 }

 ol.bibliography .abstract, ol.bibliography pre {
    padding: 0.7em 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-style: dashed;
 }