<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="bi bi-star-fill"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        {% for position in site.cv %}
            <div class="row justify-content-center mt-3">
                <div class="col-lg-1 col-xl-2 d-none d-lg-block"></div>
                <div class="col-12 col-md-auto text-center">
                    <button class="btn btn-secondary period mt-2 mb-3" disabled>{{ position.when }}</button>
                </div>
                <div class="col fs-5">
                    <p class="my-0"><strong>{{ position.title }}</strong></p>
                    <p class="my-0">{{ position.where }}</p>
                    {% if position.descr %}
                        <ul class="my-0">
                        {% for point in position.descr %}
                        <li>{{ point }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-lg-1 col-xl-2 d-none d-lg-block"></div>
            </div>
        {% endfor %}

</section>