<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">{{ site.footer.location }}</h4>
                <p class="lead mb-0">
                  {% for adress in site.address %}
                  {{ adress.line }} <br>
                  {% endfor %}
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">{{ site.footer.social }}</h4>
                {% for network in site.social %}
                <a class="btn btn-outline-light btn-social mx-1" href="{{ network.url }}"><i class="fab fa-fw fa-{{ network.title }}"></i></a>
                {% endfor %}
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">{{ site.footer.credits }}</h4>
                <p class="lead mb-0">{{ site.credits }}</p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}</small></div>
</div>