<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">{{ site.footer.headline1 }}</h4>
                <p class="lead mb-0">
                  {% for line in site.address %}
                  {% if line.url %}
                  <a href="{{ line.url }}" target="_blank" rel="noopener noreferrer">{{ line.line }}</a> <br>
                  {% else %}
                  {{ line.line }} <br>
                  {% endif %}
                  {% endfor %}
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">{{ site.footer.headline2 }}</h4>
                {% for network in site.social %}
                {% assign academic_networks = "orcid,scopus,researchgate,researcherid,google-scholar" | split: "," %}
                {% if academic_networks contains network.title %}
                <a class="btn btn-outline-light btn-social mx-1" href="{{ network.url }}" aria-label="{{ network.title | capitalize }}" target="_blank" rel="noopener noreferrer">
                    <i class="ai ai-{{ network.title }}"></i>
                </a>
                {% else %}
                <a class="btn btn-outline-light btn-social mx-1" href="{{ network.url }}" aria-label="{{ network.title | capitalize }}" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-{{ network.title }}"></i>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Footer About Text-->
            <div class="col-lg">
                <h4 class="text-uppercase mb-4">{{ site.footer.headline3 }}</h4>
                <p class="lead mb-0">
                  {% for line in site.affiliation %}
                  {% if line.url %}
                  <a href="{{ line.url }}" target="_blank" rel="noopener noreferrer">{{ line.line }}</a> <br>
                  {% else %}
                  {{ line.line }} <br>
                  {% endif %}
                  {% endfor %}
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}</small></div>
</div>