---
---

<div class="row text-justify">
<div class="col-1 d-none d-md-block" style="margin:0; padding:0; margin-top:3px;">
{% if entry.type == "article" %}
<button class="btn btn-primary btm-sm" disabled style="width:100%;">ARTICLE</button>
{% endif %}
{% if entry.type == "inproceedings" %}
<button class="btn btn-info btm-sm" disabled style="width:100%;">PROCEEDING</button>
{% endif %}
{% if entry.type == "incollection" %}
<button class="btn btn-warning btm-sm" disabled style="width:100%;">CHAPTER</button>
{% endif %}
{% if entry.type == "report" %}
<button class="btn btn-danger btm-sm" disabled style="width:100%;">REPORT</button>
{% endif %}
{% if entry.type == "unpublished" %}
<button class="btn btn-dark btm-sm" disabled style="width:100%;">PREPRINT</button>
{% endif %}
</div>

<div class="col-11">
<div class="row">
{{reference}}
<!--
{{reference}}
or use the below to make the name bold
{{reference | replace_first: 'Sršeň, Š.', '<b>Sršeň, Š.</b>' | replace_first: 'Srsen, S.', '<b>Srsen, S.</b>' | replace_first: 'Š. Sršeň', '<b>Š. Sršeň</b>' | replace_first: 'S. Srsen', '<b>S. Srsen</b>' }}
-->
</div>

{% if entry.doi %}
<a href="{{ entry.doi | prepend: 'https://doi.org/' }}" target="_blank"><button class="btn btn-secondary btm-sm">DOI</button></a>
{% elsif entry.url %}
<a href="{{ entry.url }}" target="_blank"><button class="btn btn-secondary btm-sm">URL</button></a>
{% endif %}

<!-- {% if entry.type == 'unpublished' and entry.arxiv %} -->
<!-- <a href="{{ entry.arxiv | prepend: 'https://arxiv.org/abs/' }}" target="_blank"><button class="btn btn-info btm-sm">ARXIV</button></a> -->
<!-- {% endif %} -->

<button class="btn btn-secondary btm-sm" onclick="toggleVisibility('{{entry.key}}', 'a')">BIB</button>
{% if entry.abstract %}
<button class="btn btn-secondary btm-sm" onclick="toggleVisibility('{{entry.key}}', 'b')">ABSTRACT</button>
{% endif %}

<div id="a{{entry.key}}" style="display: none;">
<pre>{{ entry.bibtex }}</pre>
</div>

<div id="b{{entry.key}}" style="display: none;;">
<pre>{{entry.abstract}}</pre>
</div>
</div>

</div>

<script>
function toggleVisibility(key, type) {
    var bibId = 'a' + key;
    var absId = 'b' + key;

    var showId = type + key;
    var el = document.getElementById(showId);

    // If the clicked section is already open, hide it
    if (el.style.display === 'block') {
        el.style.display = 'none';
    } else {
        // Hide both sections first
        document.getElementById(bibId).style.display = 'none';
        document.getElementById(absId).style.display = 'none';
        // Show the requested section
        el.style.display = 'block';
    }
}
</script>