---
---

<div class="row">
    <div class="col-auto d-none d-md-block">
        {% if entry.type == "article" %}
        <button class="btn btn-primary pub-type" disabled>ARTICLE</button>
        {% endif %}
        {% if entry.type == "inproceedings" %}
        <button class="btn btn-info pub-type" disabled>PROCEEDING</button>
        {% endif %}
        {% if entry.type == "incollection" %}
        <button class="btn btn-warning pub-type" disabled>CHAPTER</button>
        {% endif %}
        {% if entry.type == "report" %}
        <button class="btn btn-danger pub-type" disabled>REPORT</button>
        {% endif %}
        {% if entry.type == "unpublished" %}
        <button class="btn btn-dark pub-type" disabled>PREPRINT</button>
        {% endif %}
    </div>
    <div class="col">
        <div>
        {% if site.scholar.highlight %}
            {% assign highlight = '<b>' | append: site.scholar.highlight | append: '</b>' %}
            {{ reference | replace_first: site.scholar.highlight, highlight }}
        {% else %}
            {{ reference }}
        {% endif %}
        </div>

        {% if entry.doi %}
        <a href="{{ entry.doi | prepend: 'https://doi.org/' }}" target="_blank"><button class="btn btn-secondary btn-sm">DOI</button></a>
        {% elsif entry.url %}
        <a href="{{ entry.url }}" target="_blank"><button class="btn btn-secondary btn-sm">URL</button></a>
        {% endif %}

        <!-- {% if entry.type == 'unpublished' and entry.arxiv %} -->
        <!-- <a href="{{ entry.arxiv | prepend: 'https://arxiv.org/abs/' }}" target="_blank"><button class="btn btn-info btm-sm">ARXIV</button></a> -->
        <!-- {% endif %} -->

        <button class="btn btn-secondary btn-sm" onclick="toggleVisibility('{{entry.key}}', 'b')">BIB</button>
        {% if entry.abstract %}
        <button class="btn btn-secondary btn-sm" onclick="toggleVisibility('{{entry.key}}', 'a')">ABSTRACT</button>
        {% endif %}
        <div id="b{{entry.key}}" class="bibtex" style="display: none; position: relative;">
            <pre id="bib-{{entry.key}}" style="cursor:pointer;" onclick="copyBibtex('{{entry.key}}')">{{ entry.bibtex }}</pre>
            <span id="copied-{{entry.key}}" class="btn btn-primary" style="display:none; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:2;">
                <i class="fas fa-clipboard"></i> &nbsp; Copied!
            </span>
        </div>
        <p id="a{{entry.key}}" class="abstract" style="display: none;;">
            {{entry.abstract}}
        </p>
    </div>
</div>